.wheely-banner {
  color: white;
  background-size: cover !important;
  background-position: center center;
  width: 100%;
  height: 400px;
  // display: flex;
  // align-items: center;
  // justify-content: flex-end;
  position: relative;
}

.btn-back {
  position: absolute;
  top: 430px;
  left: 5%;
  color: white;
}

#price-booking {
  text-align: center;
  font-weight: bold;
}

#btn-booking {
  text-align: center;
}
