<div class="banner" style="background-image: linear-gradient(-225deg, rgba(86,101,89,0.3) 0%, rgba(25,36,61,0.4) 50%), url(<%= asset_path 'home.jpg' %>);">
  <div class="banner-content">
    <h1>WheelIn</h1>
    <p>What kind of wheeler are you?</p>
    <form action="<%= wheelies_path %>" method="get" class="form-inline">
      <div class="form-group">
        <select class="form-control" name="query" id="search_home">
          <option> All </option>
          <% Category.all.each do |category| %>
            <option><%= category.name %></option>
          <% end %>
        </select>
        <!-- <input class="form-control" type="text" name="query" placeholder="Search for something" value="<%= params[:query] %>"> -->
      </div>
      <input class="btn btn-success" type="submit" value="Search">
    </form>
  </div>
</div>
