<div class="banner" style="background-image: linear-gradient(-225deg, rgba(86,101,89,0.3) 0%, rgba(25,36,61,0.4) 50%), url(<%= asset_path 'home.jpg' %>);">
  <div class="banner-content">
    <h1>WheelIn</h1>
    <p>What kind of wheeler are you?</p>
    <div class="form-group">
      <select class="form-control" id="search_home">
        <% Category.all.each do |category| %>
          <option><%= category.name %></option>
        <% end %>
      </select>
    </div>
    <a class="btn btn-success btn-lg">Search</a>
  </div>
</div>
