<div class="flex-container">
  <div class="wheelies">
    <div class="row">
      <% @wheelies.each do |wheely| %>
        <div class="col-xs-12 col-sm-6 col-md-4 wheely_card">
          <%= render '/shared/card', wheely: wheely  %>
        </div>
      <% end%>
    </div>
  </div>
  <div
    id="map"
    data-markers="<%= @markers.to_json %>">
  </div>
</div>
